dispatcher_flow.json
[{"id":"f3b4e758.8e34d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"beaeba98.f44f08","type":"mongodb-config","z":"","hostname":"84.201.138.180","port":"18334","db":"promodb","name":""},{"id":"18e11fb4.d6cbe","type":"amqp-server","z":"","host":"84.201.153.148","port":"23199","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"a83784fd.9073a8","type":"mongodb-config","z":"","hostname":"84.201.138.180","port":"18334","db":"promodb","name":""},{"id":"6591deca.c7469","type":"amqp2-server","z":"","host":"84.201.138.180","port":"23199","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true},{"id":"b49dd14b.6d7b8","type":"mongodb-config","z":"","hostname":"84.201.138.180","port":"18334","db":"promodb","name":"UStatDB"},{"id":"e127bb9f.2703b8","type":"amqp-server","z":"","host":"84.201.153.148","port":"23199","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"8bcd2836.4e6238","type":"inject","z":"f3b4e758.8e34d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"60","x":130,"y":140,"wires":[["f40ac7e7.450d98"]]},{"id":"f40ac7e7.450d98","type":"function","z":"f3b4e758.8e34d8","name":"","func":"msg.payload = [\n{ \n    $addFields: { \n      \"_channelId\": { \"$toObjectId\": \"$channelId\" },\n    }\n},\n{\n   $lookup: {\n       from: 'channels',\n       localField: '_channelId',\n       foreignField: '_id',\n       as: 'channels'\n    }\n}\n];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["c056e202.01205"]]},{"id":"c056e202.01205","type":"mongodb-node","z":"f3b4e758.8e34d8","mongodb":"beaeba98.f44f08","name":"","collection":"videos","operation":"aggregate","upsert":false,"multi":false,"x":680,"y":140,"wires":[["48f45e06.b00a4"]]},{"id":"48f45e06.b00a4","type":"function","z":"f3b4e758.8e34d8","name":"","func":"let videos = [];\nmsg.payload.filter(m => {\n    let channel = m.channels.length ? m.channels[0] : {};\n    let period = (new Date((new Date()).setHours((new Date()).getHours() - channel.updatePeriod)));\n    let lastParseDate = m.lastParseDate;\n    if (channel && lastParseDate < period) {\n        let video = {\n            access_token: channel.token,\n            videoId: m.videoId,\n            _id: m._id\n        };\n        videos.push(video);\n    }\n});\nmsg.payload = videos;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":320,"wires":[["bc21e10f.663a2"]]},{"id":"6fb2b033.18d8b","type":"amqp out","z":"f3b4e758.8e34d8","name":"","routingkey":"","iotype":"4","ioname":"video","server":"18e11fb4.d6cbe","x":1160,"y":180,"wires":[]},{"id":"a996c177.538b8","type":"debug","z":"f3b4e758.8e34d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":360,"wires":[]},{"id":"bc21e10f.663a2","type":"split","z":"f3b4e758.8e34d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":320,"wires":[["6fb2b033.18d8b"]]},{"id":"cb9b882f.675128","type":"http request","z":"f3b4e758.8e34d8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":990,"y":640,"wires":[["4a0db774.65adf8"]]},{"id":"4a0db774.65adf8","type":"json","z":"f3b4e758.8e34d8","name":"","property":"payload","action":"","pretty":false,"x":1170,"y":640,"wires":[["f077a1d3.76bc4"]]},{"id":"53c983a5.6c2ebc","type":"mongodb-node","z":"f3b4e758.8e34d8","mongodb":"a83784fd.9073a8","name":"","collection":"channels","operation":"update","upsert":false,"multi":false,"x":1740,"y":660,"wires":[["d7d68be2.e92e28"]]},{"id":"f077a1d3.76bc4","type":"function","z":"f3b4e758.8e34d8","name":"typeDataChange()","func":"let channelInfo = msg.payload.items[0];\nlet snippet = channelInfo.snippet;\n\nconst update = {};\n\nupdate.title = snippet.title;\nupdate.thumbnail = snippet.thumbnails.medium.url;\n\nlet statistics = channelInfo.statistics;\n\nupdate.subscriberCount = parseInt(statistics.subscriberCount);\nupdate.videoCount = parseInt(statistics.videoCount);\n\nmsg.query = { _id: msg.channelInfo._id };\nmsg.payload = {\n   '$set': update \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":640,"wires":[["47344194.8da0a"]]},{"id":"2e8c743.aa80d8c","type":"http request","z":"f3b4e758.8e34d8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":2270,"y":660,"wires":[["245eddae.5f2602"]]},{"id":"245eddae.5f2602","type":"json","z":"f3b4e758.8e34d8","name":"","property":"payload","action":"obj","pretty":false,"x":2490,"y":660,"wires":[["50ab9146.f6d26"]]},{"id":"d7d68be2.e92e28","type":"function","z":"f3b4e758.8e34d8","name":"","func":"msg.search = {\n    url: \"https://www.googleapis.com/youtube/v3/search\",\n    channelId: msg.channelInfo.id,\n    maxResults: \"50\",\n    part: \"snippet\",\n    publishedAfter: msg.channelInfo.period,\n    type: \"video\"\n};\n\nmsg.headers = {\n    Authorization: `Bearer ${msg.channelInfo.access_token}`\n};\n\nmsg.url = msg.search.url + \"?part=\" + msg.search.part + \"&channelId=\" + msg.search.channelId + \"&type=\" + msg.search.type + \"&publishedAfter=\"+ msg.search.publishedAfter + \"&maxResults=\" + msg.search.maxResults;\n\nconsole.log(msg.payload.result);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2010,"y":660,"wires":[["2e8c743.aa80d8c"]]},{"id":"50ab9146.f6d26","type":"change","z":"f3b4e758.8e34d8","name":"","rules":[{"t":"set","p":"nextChannelPageToken","pt":"msg","to":"payload.nextPageToken","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2700,"y":660,"wires":[["38de217.13772de"]]},{"id":"8797d402.4d8238","type":"switch","z":"f3b4e758.8e34d8","name":"","property":"nextChannelPageToken","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":3450,"y":660,"wires":[[],["cbb4e31e.4f10a"]]},{"id":"1c959998.36d936","type":"http request","z":"f3b4e758.8e34d8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":3170,"y":460,"wires":[["245eddae.5f2602"]]},{"id":"2e368d6b.3ae462","type":"function","z":"f3b4e758.8e34d8","name":"","func":"const pageToken = msg.nextChannelPageToken;\n\nmsg.url = msg.search.url + \"?part=\" + msg.search.part + \"&channelId=\" + msg.search.channelId + \"&type=\" + msg.search.type + \"&publishedAfter=\"+ msg.search.publishedAfter + \"&maxResults=\" + msg.search.maxResults + \"&pageToken=\" + pageToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":2930,"y":460,"wires":[["1c959998.36d936"]]},{"id":"db414fd3.e9439","type":"function","z":"f3b4e758.8e34d8","name":"setChannelUrl()","func":"const period = (new Date((new Date()).setDate((new Date()).getDate() - msg.payload.processingTime))).toISOString();\n\nmsg.channelInfo = {\n    _id: msg.payload._id,\n    url: \"https://www.googleapis.com/youtube/v3/channels\",\n    id: msg.payload.channelLink.split('/').reverse()[0],\n    part: \"snippet%2Cstatistics\",\n    period: period,\n    access_token: msg.payload.access_token\n}\n\nmsg.headers = {\n    Authorization: `Bearer ${msg.channelInfo.access_token}`\n};\n\nmsg.url = msg.channelInfo.url + \"?part=\" + msg.channelInfo.part + \"&id=\" + msg.channelInfo.id;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":640,"wires":[["cb9b882f.675128"]]},{"id":"13e13e9.92199c1","type":"json","z":"f3b4e758.8e34d8","name":"","property":"payload","action":"obj","pretty":false,"x":630,"y":640,"wires":[["db414fd3.e9439"]]},{"id":"22cf5bf2.3e0684","type":"inject","z":"f3b4e758.8e34d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":640,"wires":[["c16c49c5.78b408"]]},{"id":"c16c49c5.78b408","type":"change","z":"f3b4e758.8e34d8","name":"","rules":[{"t":"set","p":"readFrom","pt":"msg","to":"channel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":640,"wires":[["7581eaf8.276494"]]},{"id":"4fb22558.d2daec","type":"mongodb-node","z":"f3b4e758.8e34d8","mongodb":"a83784fd.9073a8","name":"","collection":"videos","operation":"insert","upsert":false,"multi":false,"x":3140,"y":660,"wires":[["8797d402.4d8238"]]},{"id":"47344194.8da0a","type":"function","z":"f3b4e758.8e34d8","name":"","func":"console.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":660,"wires":[["53c983a5.6c2ebc"]]},{"id":"38de217.13772de","type":"function","z":"f3b4e758.8e34d8","name":"","func":"let insert = [];\n\nconsole.log(msg.payload);\n\nfor (let pl of msg.payload) {\n    let item = {};\n    let snippet = pl.snippet;\n\n    item.videoId = pl.id.videoId;\n    item.title = snippet.title;\n    item.thumbnail = snippet.thumbnails.medium.url;\n    item.channelId = msg.channelInfo._id;\n    item.publishedAt = new Date(snippet.publishedAt);\nitem.metricks = [];\n    insert.push(item);\n}\n\nmsg.payload = insert;\n\nconsole.log(msg);\n\nreturn msg;","outputs":1,"noerr":0,"x":2870,"y":660,"wires":[["4fb22558.d2daec"]]},{"id":"cbb4e31e.4f10a","type":"function","z":"f3b4e758.8e34d8","name":"","func":"console.log(msg);\nreturn msg;","outputs":1,"noerr":0,"x":3670,"y":580,"wires":[["2e368d6b.3ae462"]]},{"id":"84cfd09a.689ba","type":"inject","z":"f3b4e758.8e34d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":310,"y":480,"wires":[["9eaaffa4.052c7"]]},{"id":"9eaaffa4.052c7","type":"change","z":"f3b4e758.8e34d8","name":"","rules":[{"t":"set","p":"readFrom","pt":"msg","to":"video","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["7c48798e.cec978"]]},{"id":"1aee6801.fba5e8","type":"mongodb-node","z":"f3b4e758.8e34d8","mongodb":"a83784fd.9073a8","name":"","collection":"videoTasks","operation":"insert","upsert":false,"multi":false,"x":1310,"y":480,"wires":[[]]},{"id":"c0a3d88a.0d7638","type":"json","z":"f3b4e758.8e34d8","name":"","property":"payload","action":"obj","pretty":false,"x":870,"y":480,"wires":[["ceec4629.744b18"]]},{"id":"ceec4629.744b18","type":"function","z":"f3b4e758.8e34d8","name":"","func":"msg.payload = {task: msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":480,"wires":[["1aee6801.fba5e8"]]},{"id":"7581eaf8.276494","type":"amqp2 in","z":"f3b4e758.8e34d8","name":"","topic":"","iotype":"4","ioname":"","server":"6591deca.c7469","x":490,"y":640,"wires":[["13e13e9.92199c1"]]},{"id":"7c48798e.cec978","type":"amqp2 in","z":"f3b4e758.8e34d8","name":"","topic":"","iotype":"4","ioname":"","server":"6591deca.c7469","x":730,"y":480,"wires":[["c0a3d88a.0d7638"]]}]