dispatcher_flow.json
[{"id":"f3b4e758.8e34d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"beaeba98.f44f08","type":"mongodb-config","z":"","hostname":"84.201.138.180","port":"18334","db":"promodb","name":""},{"id":"18e11fb4.d6cbe","type":"amqp-server","z":"","host":"84.201.153.148","port":"23199","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"8bcd2836.4e6238","type":"inject","z":"f3b4e758.8e34d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"60","x":130,"y":140,"wires":[["f40ac7e7.450d98"]]},{"id":"f40ac7e7.450d98","type":"function","z":"f3b4e758.8e34d8","name":"","func":"msg.payload = [\n{ \n    $addFields: { \n      \"_channelId\": { \"$toObjectId\": \"$channelId\" },\n    }\n},\n{\n   $lookup: {\n       from: 'channels',\n       localField: '_channelId',\n       foreignField: '_id',\n       as: 'channels'\n    }\n}\n];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["c056e202.01205"]]},{"id":"c056e202.01205","type":"mongodb-node","z":"f3b4e758.8e34d8","mongodb":"beaeba98.f44f08","name":"","collection":"videos","operation":"aggregate","upsert":false,"multi":false,"x":680,"y":140,"wires":[["48f45e06.b00a4"]]},{"id":"48f45e06.b00a4","type":"function","z":"f3b4e758.8e34d8","name":"","func":"let videos = [];\nmsg.payload.filter(m => {\n    let channel = m.channels.length ? m.channels[0] : {};\n    let period = (new Date((new Date()).setHours((new Date()).getHours() - channel.updatePeriod)));\n    let lastParseDate = m.lastParseDate;\n    if (channel && lastParseDate < period) {\n        let video = {\n            access_token: channel.token,\n            videoId: m.videoId,\n            _id: m._id\n        };\n        videos.push(video);\n    }\n});\nmsg.payload = videos;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":160,"wires":[["6fb2b033.18d8b","a996c177.538b8"]]},{"id":"6fb2b033.18d8b","type":"amqp out","z":"f3b4e758.8e34d8","name":"","routingkey":"","iotype":"4","ioname":"video","server":"18e11fb4.d6cbe","x":1160,"y":180,"wires":[]},{"id":"a996c177.538b8","type":"debug","z":"f3b4e758.8e34d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":280,"wires":[]}]